.wrapper {
  display: grid;
  grid-template-areas:
    'h h h n'
    'a m m m'
    'a m m m'
    'l l r r';
}

.header {
  grid-area: h;
}

.nav {
  grid-area: n;
}
.aside {
  grid-area: a;
}
.main {
  grid-area: m;
}
.left-footer {
  grid-area: l;
}
.right-footer {
  grid-area: r;
}
