.wrapper {
  display: grid;
  grid-template-areas:
    'm l n n'
    'a u u u'
    'a w w w'
    'f f f f';
}

.menu {
  grid-area: m;
}
.logo {
  grid-area: l;
}

.nav {
  grid-area: n;
}
.aside {
  grid-area: a;
}
.upper-main {
  grid-area: u;
}
.lower-main {
  grid-area: w;
}
.footer {
  grid-area: f;
}
