.wrapper {
  display: flex;
}

.aside {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.box {
  flex: 1;
}
.header {
  flex: 1;
}

.main-content {
  flex: 4;
}
